In [8]:
# Import libraries.
import numpy as np
import pandas as pd
import requests
import json

In [9]:
# Define FourSquare credentials.
CLIENT_ID = 'YL4F00KRM2ATGYXNWMXR1FGN45UF0LTMGCSSNXSKQYXHJN5E' # your Foursquare ID
CLIENT_SECRET = 'OZB2DVDSN3SLHKJUOND3EIQL1UYSHZT1P0P0PJUHI2FZNWKD' # your Foursquare Secret
VERSION = '20180605'# Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: YL4F00KRM2ATGYXNWMXR1FGN45UF0LTMGCSSNXSKQYXHJN5E
CLIENT_SECRET:OZB2DVDSN3SLHKJUOND3EIQL1UYSHZT1P0P0PJUHI2FZNWKD

### Venue Details
The code, below, finds the details on the Chicago venues.

In [10]:
# Function to check if a json key exists and if so return its value.
def check_key(data, key):
    try:
        return data[key]
    except:
        return ""

In [11]:
# Function to get food venue details from the Chicago venue id.
def get_venues_details(venue_id, client_id, client_secret, version):
    
    df = pd.DataFrame(columns=['id','phone','twitter','instagram','facebook','verified','checkins_count','users_count','tip_count','visits_count','url','price_tier','likes','rating','delivery_available','menu_available','specials_count','photos_count','here_now','listed','hours_days','attributes'])
    details_url = "https://api.foursquare.com/v2/venues/{}?&client_id={}&client_secret={}&v={}".format(venue_id, client_id, client_secret, version)
    results = requests.get(details_url).json()
    
    response = results['response']
    venue = response['venue']
    
    # get venue contact info
    contact = venue['contact']
    phone = check_key(contact,'phone')
    twitter = check_key(contact,'twitter')
    instagram = check_key(contact,'instagram')
    facebook = check_key(contact,'facebook')
    
    # verified
    verified = check_key(venue,'verified')
    
    # stats
    stats = venue['stats']
    checkins_count = check_key(stats,'checkingsCount')
    users_count = check_key(stats,'usersCount')
    tip_count = check_key(stats,'tipCount')
    visits_count = check_key(stats,'visitsCount')
    
    # url
    url = check_key(venue,'url')
    
    # price
    price_tier = check_key(venue['price'],'tier')
    
    # likes
    likes = check_key(venue['likes'],'count')
    
    # rating
    rating = check_key(venue,'rating')
    
    # delivery
    delivery = check_key(venue,'delivery')
    delivery_available = 0
    if delivery != "":
        if check_key(delivery,'id') != "":
            delivery_available = 1
        else:
            delivery_available = 0
        
    #menu
    menu = check_key(venue,'menu')
    menu_available = 0
    if menu != "":
        if check_key(menu,'url') != "":
            menu_available = 1
        else:
            menu_available = 0
      
    #specials
    specials = check_key(venue,'specials')
    specials_count = ''
    if specials != "":
        specials_count = check_key(specials,'count')
        
    # photos
    photos_count = check_key(venue['photos'], 'count')
    
    # here now
    here_now = check_key(venue['hereNow'], 'count')
    
    # listed
    listed = check_key(venue['listed'], 'count')
    
    # hours
    try:
        timeframes = check_key(venue['hours'],'timeframes')
        hours_days = ""
        for tf in timeframes:
            hours_days += check_key(tf,'days') + ": "
            hours_open = check_key(tf,'open')
            for ho in hours_open:
                hours_days += check_key(ho,'renderedTime') + ', '
        hours_days = hours_days[:-2]
    except:
        hours_days = "Couldn't get hours."
    
    # attributes
    attributes = venue['attributes']['groups']
    attrs = []
    for attr in attributes:
        items = attr['items']
        for item in items:
            attrs.append('{}: {}'.format(item['displayName'], item['displayValue']))
        
    # add data to dataframe
    df = df.append({'id':venue_id,'phone':phone,'twitter':twitter,'instagram':instagram,'facebook':facebook,'verified':verified,'checkins_count':checkins_count,'users_count':users_count,'tip_count':tip_count,'visits_count':visits_count,'url':url,'price_tier':price_tier,'likes':likes,'rating':rating,'delivery_available':delivery_available,'menu_available':menu_available,'specials_count':specials_count,'photos_count':photos_count,'here_now':here_now,'listed':listed,'hours_days':hours_days,'attributes':attrs}, ignore_index=True)
    return df

In [12]:
# Read in chicago_food_venues.csv
chicago_food_venues = pd.read_csv('../saved_data/chicago_food_venues.csv')

# Initialize a dataframe to store Chicago food venue details.
chicago_food_venues_details = pd.DataFrame(columns=['id','phone','twitter','instagram','facebook','verified','checkins_count','users_count','tip_count','visits_count','url','price_tier','likes','rating','delivery_available','menu_available','specials_count','photos_count','here_now','listed','hours_days','attributes'])

# Loop over Chicago venues in chicago_food to get details of those venues.
for i in chicago_food_venues['id']:
    df = get_venues_details(i, CLIENT_ID, CLIENT_SECRET, VERSION)
    chicago_food_venues_details = chicago_food_venues_details.append(df, ignore_index=True)
chicago_food_venues_details

,id,phone,twitter,instagram,facebook,verified,checkins_count,users_count,tip_count,visits_count,...,likes,rating,delivery_available,menu_available,specials_count,photos_count,here_now,listed,hours_days,attributes
0,49e749fbf964a52086641fe3,3123724243,thegagechicago,,,True,,,336,,...,879,9,1,1,0,981,0,843,"Mon–Thu: 11:00 AM–10:00 PM, Fri–Sun: 11:00 AM–...","[Price: $$$, Credit Cards: Yes (incl. Discover..."
1,55669b9b498ee34e5249ea61,3127923502,cindysrooftop,,702271533235732,True,,,137,,...,617,9.2,0,1,0,920,0,1012,"Mon–Fri, Sun: 3:00 PM–2:00 AM, Sat: 3:00 PM–3:...","[Price: $$$, Reservations: Yes, Credit Cards: ..."
2,556b5527498e3bb54be5ff78,3127923515,cherrycirclecaa,,977784172240041,True,,,42,,...,178,8.7,0,1,0,169,0,240,"Mon–Sun: 7:00 AM–2:30 PM, 5:00 PM–Midnight","[Price: $$$, Credit Cards: Yes (incl. Discover..."
3,53d6f406498e54a8e8dfb7c4,3125780763,acantochicago,,773395659366479,False,,,22,,...,76,8.2,1,1,0,90,0,63,"Mon–Thu: 11:00 AM–8:00 PM, Fri–Sat: 11:00 AM–1...","[Price: $$$$, Credit Cards: Yes, Outdoor Seati..."
4,4ac7958cf964a52036b820e3,3124438650,terzopianochi,,,True,,,51,,...,67,7.9,0,1,0,238,0,106,"Mon–Wed, Fri–Sat: 11:00 AM–3:00 PM, Thu: 11:00...","[Price: $$$, Credit Cards: Yes (incl. Discover..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4c6b0b116d390f4708ed099a,3126608866,florentineresto,,140691045982999,True,,,51,,...,62,7.9,1,1,0,53,0,47,"Mon–Sun: 7:30 AM–2:00 PM, 5:00 PM–9:00 PM","[Price: $$$, Credit Cards: Yes (incl. Discover..."
196,5755b556498ea375c5d4baac,3123841242,thedearbornchi,,545149458968179,False,,,47,,...,181,9,1,1,0,252,0,171,"Mon–Thu, Sun: 11:00 AM–10:30 PM, Fri–Sat: 11:0...","[Price: $$$, Credit Cards: Yes, Outdoor Seatin..."
197,4ad91beff964a5202e1821e3,3125272722,,,,True,,,209,,...,693,9.3,1,1,0,905,0,527,"Mon–Thu: 11:30 AM–10:00 PM, Fri: 11:30 AM–11:0...","[Price: $$$, Credit Cards: Yes (incl. Discover..."
198,59deb72f061b514b32a062af,,,,,False,,,19,,...,74,9,0,1,0,117,0,76,"Mon–Wed, Sun: 11:00 AM–11:30 PM, Thu–Sat: 11:0...","[Price: $$$$, Brunch: Brunch, Lunch: Lunch, Di..."
199,49ebe487f964a52043671fe3,7733488886,monamigabichi,,53356164403,False,,,56,,...,164,9.3,1,1,0,134,0,223,"Mon–Thu: 4:30 PM–8:30 PM, Fri: 4:30 PM–9:00 PM...","[Price: $$$, Credit Cards: Yes (incl. Discover..."

In [13]:
# Split attributes column to get individual attributes and create dummies
# for those attributes.

# Find all unique attribute names.
attrs = []
for venue, attributes in zip(chicago_food_venues_details['id'], chicago_food_venues_details['attributes']):
    for attr in attributes:
        attr_name = attr.split(':')[0]
        if attr_name not in attrs:
            attrs.append(attr_name)

# Create dataframe columns for all unique attribute names.
for attr in attrs:
    chicago_food_venues_details[attr] = ''
    
# Fill in values of new dataframe columns from attributes column.
i = 0
for venue, attributes in zip(chicago_food_venues_details['id'], chicago_food_venues_details['attributes']):
    for attr in attributes:
        attr_name = attr.split(':')[0]
        attr_value = attr.split(':')[1].strip()
        chicago_food_venues_details.loc[i,attr_name] = attr_value
    i += 1

chicago_food_venues_details

,id,phone,twitter,instagram,facebook,verified,checkins_count,users_count,tip_count,visits_count,...,Coat Check,Bar Snacks,Tasting Menu,Delivery,Street Parking,Valet Parking,BYO,Parking,Table Service,Public Lot
0,49e749fbf964a52086641fe3,3123724243,thegagechicago,,,True,,,336,,...,,,,,,,,,,
1,55669b9b498ee34e5249ea61,3127923502,cindysrooftop,,702271533235732,True,,,137,,...,,,,,,,,,,
2,556b5527498e3bb54be5ff78,3127923515,cherrycirclecaa,,977784172240041,True,,,42,,...,,,,,,,,,,
3,53d6f406498e54a8e8dfb7c4,3125780763,acantochicago,,773395659366479,False,,,22,,...,,,,,,,,,,
4,4ac7958cf964a52036b820e3,3124438650,terzopianochi,,,True,,,51,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4c6b0b116d390f4708ed099a,3126608866,florentineresto,,140691045982999,True,,,51,,...,,,,,,,,,,
196,5755b556498ea375c5d4baac,3123841242,thedearbornchi,,545149458968179,False,,,47,,...,,,,,,,,,,
197,4ad91beff964a5202e1821e3,3125272722,,,,True,,,209,,...,,,,,,,,,,
198,59deb72f061b514b32a062af,,,,,False,,,19,,...,,,,,,,,,,
199,49ebe487f964a52043671fe3,7733488886,monamigabichi,,53356164403,False,,,56,,...,,,,,,,,,,

In [14]:
# Save intermediate dataset.
chicago_food_venues_details.to_csv("../saved_data/chicago_food_venues_details_messy.csv")

In [21]:
# Create dummy variables to indicate whether a Chicago food venue has certain attributes.
# Blank entries mean that the food venue did not have details on the given attribute.
# This does not necessarily mean that the food venue does not have this attribute but just that they
# did not post about.
# This is as good as not having it, though, because its advertised attributes that draw in customers.
details_cleaned = chicago_food_venues_details

cols = ['phone','twitter','instagram','facebook','url']
for col in cols:
    details_cleaned[col + '_available'] = np.where(details_cleaned[col] != "", 1, 0)

details_cleaned['verified'] = np.where(details_cleaned['verified'] == True, 1, 0)

cols = ['Credit Cards','Outdoor Seating','Wi-Fi','Reservations','ATM','Restroom','Wheelchair Accessible','TVs','Private Room','Music','Coat Check']
for col in cols:
    try:
        details_cleaned[col.lower()] = np.where((details_cleaned[col].str.contains('Yes') | details_cleaned[col].str.contains('Free')), 1, 0)
    except:
        print(col + " not in dataframe")
cols = ['Breakfast','Dessert','Happy Hour','Lunch','Brunch','Dinner','Beer','Wine','Full Bar','Cocktails','Street Parking','Public Lot','Live Music','Jukebox','Bar Service', 'Bar Snacks', 'Tasting Menu', 'Delivery','Street Parking','Valet Parking','BYO','Parking','Table Service','Public Lot']
for col in cols:
    try:
        details_cleaned[col.lower()] = np.where(details_cleaned[col] != "", 1, 0)
    except:
        print(col + " not in dataframe")
        
details_cleaned

,id,phone,twitter,instagram,facebook,verified,checkins_count,users_count,tip_count,visits_count,...,jukebox,bar service,bar snacks,tasting menu,delivery,valet parking,byo,parking,table service,price
0,49e749fbf964a52086641fe3,3123724243,thegagechicago,,,1,,,336,,...,0,0,0,0,0,0,0,0,0,3
1,55669b9b498ee34e5249ea61,3127923502,cindysrooftop,,702271533235732,1,,,137,,...,0,0,0,0,0,0,0,0,0,3
2,556b5527498e3bb54be5ff78,3127923515,cherrycirclecaa,,977784172240041,1,,,42,,...,0,0,0,0,0,0,0,0,0,3
3,53d6f406498e54a8e8dfb7c4,3125780763,acantochicago,,773395659366479,0,,,22,,...,0,0,0,0,0,0,0,0,0,4
4,4ac7958cf964a52036b820e3,3124438650,terzopianochi,,,1,,,51,,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4c6b0b116d390f4708ed099a,3126608866,florentineresto,,140691045982999,1,,,51,,...,0,0,0,0,0,0,0,0,0,3
196,5755b556498ea375c5d4baac,3123841242,thedearbornchi,,545149458968179,0,,,47,,...,0,0,0,0,0,0,0,0,0,3
197,4ad91beff964a5202e1821e3,3125272722,,,,1,,,209,,...,0,0,0,0,0,0,0,0,0,3
198,59deb72f061b514b32a062af,,,,,0,,,19,,...,0,0,0,0,0,0,0,0,0,4
199,49ebe487f964a52043671fe3,7733488886,monamigabichi,,53356164403,0,,,56,,...,0,0,0,0,0,0,0,0,0,3

In [22]:
# Drop variables for which we made dummies
details_cleaned['price'] = np.where(details_cleaned['Price']=='$$$',3,4)
details_cleaned = details_cleaned.drop(columns=['phone','twitter','instagram','facebook','url','attributes','checkins_count','users_count','visits_count','Price','Credit Cards','Outdoor Seating','Wi-Fi','Reservations','ATM','Restroom','Wheelchair Accessible','TVs','Private Room','Music','Coat Check','Breakfast','Dessert','Happy Hour','Lunch','Brunch','Dinner','Beer','Wine','Full Bar','Cocktails','Street Parking','Public Lot','Live Music','Jukebox','Bar Service', 'Bar Snacks', 'Tasting Menu', 'Delivery','Street Parking','Valet Parking','BYO','Parking','Table Service','Public Lot'])

,id,verified,checkins_count,users_count,tip_count,visits_count,price_tier,likes,rating,delivery_available,...,jukebox,bar service,bar snacks,tasting menu,delivery,valet parking,byo,parking,table service,price
0,49e749fbf964a52086641fe3,1,,,336,,3,879,9,1,...,0,0,0,0,0,0,0,0,0,3
1,55669b9b498ee34e5249ea61,1,,,137,,3,617,9.2,0,...,0,0,0,0,0,0,0,0,0,3
2,556b5527498e3bb54be5ff78,1,,,42,,3,178,8.7,0,...,0,0,0,0,0,0,0,0,0,3
3,53d6f406498e54a8e8dfb7c4,0,,,22,,4,76,8.2,1,...,0,0,0,0,0,0,0,0,0,4
4,4ac7958cf964a52036b820e3,1,,,51,,3,67,7.9,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4c6b0b116d390f4708ed099a,1,,,51,,3,62,7.9,1,...,0,0,0,0,0,0,0,0,0,3
196,5755b556498ea375c5d4baac,0,,,47,,3,181,9,1,...,0,0,0,0,0,0,0,0,0,3
197,4ad91beff964a5202e1821e3,1,,,209,,3,693,9.3,1,...,0,0,0,0,0,0,0,0,0,3
198,59deb72f061b514b32a062af,0,,,19,,4,74,9,0,...,0,0,0,0,0,0,0,0,0,4
199,49ebe487f964a52043671fe3,0,,,56,,3,164,9.3,1,...,0,0,0,0,0,0,0,0,0,3

In [28]:
# Merge on details to food venues
chicago_food_venues_w_details = chicago_food_venues.merge(details_cleaned, how='left', on='id')
chicago_food_venues_w_details = chicago_food_venues_w_details.drop(columns=['Unnamed: 0'])
chicago_food_venues_w_details

,id,name,latitude,longitude,primary_category,popularity_rating,verified,tip_count,price_tier,likes,...,jukebox,bar service,bar snacks,tasting menu,delivery,valet parking,byo,parking,table service,price
0,49e749fbf964a52086641fe3,The Gage,41.881202,-87.624481,Gastropub,2.0,1,336,3,879,...,0,0,0,0,0,0,0,0,0,3
1,55669b9b498ee34e5249ea61,Cindy's,41.881695,-87.624600,New American Restaurant,23.0,1,137,3,617,...,0,0,0,0,0,0,0,0,0,3
2,556b5527498e3bb54be5ff78,Cherry Circle Room,41.881994,-87.625050,American Restaurant,NaN,1,42,3,178,...,0,0,0,0,0,0,0,0,0,3
3,53d6f406498e54a8e8dfb7c4,Acanto,41.881495,-87.624500,Italian Restaurant,NaN,0,22,4,76,...,0,0,0,0,0,0,0,0,0,4
4,4ac7958cf964a52036b820e3,Terzo Piano,41.880443,-87.622431,Italian Restaurant,NaN,1,51,3,67,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,4c6b0b116d390f4708ed099a,The Florentine,41.879170,-87.633032,Italian Restaurant,NaN,1,51,3,62,...,0,0,0,0,0,0,0,0,0,3
196,5755b556498ea375c5d4baac,The Dearborn,41.884415,-87.629554,Gastropub,3.0,0,47,3,181,...,0,0,0,0,0,0,0,0,0,3
197,4ad91beff964a5202e1821e3,Shaw's Crab House,41.889959,-87.627065,Seafood Restaurant,4.0,1,209,3,693,...,0,0,0,0,0,0,0,0,0,3
198,59deb72f061b514b32a062af,Gibson Italia,41.886606,-87.639593,Italian Restaurant,5.0,0,19,4,74,...,0,0,0,0,0,0,0,0,0,4
199,49ebe487f964a52043671fe3,Mon Ami Gabi,41.923927,-87.636615,French Restaurant,9.0,0,56,3,164,...,0,0,0,0,0,0,0,0,0,3

In [30]:
# Save the data to a csv so we do not need to run the code each time we start the program.
# This will save the number of API calls we need to make.
chicago_food_venues_w_details.to_csv('../saved_data/chicago_food_venues_details_cleaned.csv')