### Importing And Global Variables

In [2]:
# import libraries
import numpy as np
import pandas as pd
import requests
import json

In [3]:
# define FourSquare credentials
CLIENT_ID = 'YL4F00KRM2ATGYXNWMXR1FGN45UF0LTMGCSSNXSKQYXHJN5E' # your Foursquare ID
CLIENT_SECRET = 'OZB2DVDSN3SLHKJUOND3EIQL1UYSHZT1P0P0PJUHI2FZNWKD' # your Foursquare Secret
VERSION = '20180605'# Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: YL4F00KRM2ATGYXNWMXR1FGN45UF0LTMGCSSNXSKQYXHJN5E
CLIENT_SECRET:OZB2DVDSN3SLHKJUOND3EIQL1UYSHZT1P0P0PJUHI2FZNWKD

### Chicago Food Venues
The code, below, finds food venues around Chicago.

In [18]:
# Grab as many food venues as possible around Chicago, IL.
# We need to query more than one starting long/lat point because limit per query is 100.
# Then we remove duplicates by venue_id.

# Initialize a dataframe to store chicago food venues.
chicago_food = pd.DataFrame(columns=['id','name','latitude','longitude','primary_category'])

# Define a function to get food venues for different longitude and latitude locations corresponding to different
# Chicago neighborhoods.
# The radius parameter is not provided so FourSquare gives a suggested radius based on density of venues.
# Get the food venues for any day and any time so it is not just limited to the day and time of query.
# Get the food venues that are not fast food by limiting to a price range of 2,3,4.
def get_food_venues(client_id, client_secret, version, ll):
    df = pd.DataFrame(columns=['id','name','latitude','longitude','primary_category'])
    explore_url = r'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={}&section=food&limit=100&time=any&day=any&price=2,3,4'.format(client_id, client_secret, version, ll)
    results = requests.get(explore_url).json()
    for place in results['response']['groups'][0]['items']:
        i = place['venue']['id']
        name = place['venue']['name']
        lat = place['venue']['location']['lat']
        lng = place['venue']['location']['lng']
        cat = place['venue']['categories'][0]['name']
        df = df.append({'id':i,'name':name,'latitude':lat,'longitude':lng,'primary_category':cat}, ignore_index=True)
    return df

In [19]:
# Loop over Chicago neighborhoods to get food venues near those neighborhoods.
neighborhoods = [
    '41.8786,-87.6251',# The Loop
    '41.8854,-87.6627',# West Loop
    '41.8674,-87.6275',# South Loop
    '41.8507,-87.6340',# Chinatown
    '41.9398,-87.6589',# Lake View
    '41.8924,-87.6341',# River North
    '41.9227,-87.6803',# Bucktown
    '41.8856,-87.6509',# Fulton Market
    '41.9255,-87.6488',# Lincoln Park
    '41.9665,-87.6533',# Uptown
    '41.9440,-87.6474',# Boystown
    '41.9231,-87.7093',# Logan Square
    '41.9491,-87.6565',# Wrigleyville
    '41.8927,-87.6200',# Streeterville
    '41.8993,-87.6639',# Noble Square
    '41.8994,-87.6845',# Ukranian Village
    '41.9067,-87.6253',# Gold Coast
    '41.9111,-87.6410',# Old Town
    '41.9105,-87.6776',# Wicker Park
    '41.8991,-87.7213'# Humboldt Park
]
for neighborhood in neighborhoods:
    df = get_food_venues(CLIENT_ID, CLIENT_SECRET, VERSION, neighborhood)
    chicago_food = chicago_food.append(df, ignore_index=True)
chicago_food

,id,name,latitude,longitude,primary_category
0,55c12762498e5cb0724d7214,Brightwok Kitchen,41.879576,-87.626468,Asian Restaurant
1,49e749fbf964a52086641fe3,The Gage,41.881202,-87.624481,Gastropub
2,4b087e6ef964a520040d23e3,Garrett Popcorn Shops,41.878175,-87.628882,Snack Place
3,54526cc8498e4c349557502e,Naf Naf Grill,41.881267,-87.626088,Middle Eastern Restaurant
4,5942c26d1ffed75fbc4133f6,BIBIBOP Asian Grill,41.878274,-87.626503,Asian Restaurant
...,...,...,...,...,...
1118,4e4e2853bd4101d0d7a3927a,J & J Fish & Chicken,41.896434,-87.706868,Seafood Restaurant
1119,4f328e9c19836c91c7e36d9d,Andy's Deli and Mikolajczyk Sausage Shop,41.887484,-87.726856,Deli / Bodega
1120,4e485c0bd4c065cb6bb972e2,Baba's,41.879910,-87.725212,Middle Eastern Restaurant
1121,4c97dedce34e6dcb55da665a,Coleman's Ribs & Links,41.891153,-87.745411,BBQ Joint
1122,51d736a5498efc2f2a8f30c2,Latin American Restraunt Food Truck,41.908222,-87.697254,Latin American Restaurant

In [23]:
# Drop duplicates by venue id.
chicago_food.drop_duplicates(subset=['id'], inplace=True)
chicago_food.shape

(912, 5)

In [21]:
# Check the breakdown of category to make sure there is a good variety.
chicago_food.groupby('primary_category').count()

                               id  name  latitude  longitude
primary_category
African Restaurant              1     1         1          1
American Restaurant            74    74        74         74
Argentinian Restaurant          5     5         5          5
Asian Restaurant               24    24        24         24
BBQ Joint                      23    23        23         23
...                            ..   ...       ...        ...
Theme Restaurant                1     1         1          1
Turkish Restaurant              1     1         1          1
Vegetarian / Vegan Restaurant  16    16        16         16
Vietnamese Restaurant          13    13        13         13
Wings Joint                     4     4         4          4

[73 rows x 4 columns]

In [22]:
# Save the data to a csv so we do not need to run the code each time we start the program.
# This will save the number of API calls we need to make.
chicago_food.to_csv('chicago_food_venues.csv')

### Chicago Trending Venues
The code, below, finds trending food venues around chicago neighborhoods

In [30]:
def get_trending_venues(client_id, client_secret, version, near):
    df = pd.DataFrame(columns=['id','name','latitude','longitude','primary_category'])
    trending_url = "https://api.foursquare.com/v2/venues/trending?&client_id={}&client_secret={}&v={}&near={}&limit=100&radius=2000".format(client_id, client_secret, version, near)
    results = requests.get(trending_url).json()
    print(results)
    for place in results['response']['venues']:
        i = place['venue']['id']
        name = place['venue']['name']
        lat = place['venue']['location']['lat']
        lng = place['venue']['location']['lng']
        cat = place['venue']['categories'][0]['name']
        df = df.append({'id':i,'name':name,'latitude':lat,'longitude':lng,'primary_category':cat}, ignore_index=True)
    return df
df = get_trending_venues(CLIENT_ID, CLIENT_SECRET, VERSION, 'NYC')
df

{'meta': {'code': 200, 'requestId': '6026ad31e0b857202a51415f'}, 'response': {'venues': [], 'geocode': {'what': '', 'where': 'nyc', 'feature': {'cc': 'US', 'name': 'New York', 'displayName': 'New York, NY, United States', 'matchedName': 'NYC, NY, United States', 'highlightedName': '<b>NYC</b>, NY, United States', 'woeType': 7, 'slug': 'new-york-city-new-york', 'id': 'geonameid:5128581', 'longId': '72057594043056517', 'geometry': {'center': {'lat': 40.742185, 'lng': -73.992602}, 'bounds': {'ne': {'lat': 40.882214, 'lng': -73.907}, 'sw': {'lat': 40.679548, 'lng': -74.047285}}}}, 'parents': []}}}

Empty DataFrame
Columns: [id, name, latitude, longitude, primary_category]
Index: []